.body {
  background-color: rgb(160, 149, 149);
  color: black;
  font-family: 'Oswald', sans-serif;
}

.text-div {
  padding: 10px;
}

.section-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
