.output {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px 10px;
  background-color: #8d99ae;
  color: white;
  border-radius: 10px 10px 0 0;
}

.operands {
  font-size: 20px;
}

.results {
  font-size: 22px;
}
